<style>
  .playlist-row {
    border-bottom: 2px solid transparent;
  }
</style>
<div class="row mt-1">
  <div class="col">
    <h4>Playlisty</h4>

    <app-playlists-list
      [selected]="selected"
      (selected)="select($event)"
      [playlists]="playlists"
    ></app-playlists-list>

    <div class="form-group">
      <button class="btn btn-success float-xs-right" (click)="createNew()">
        Nowa Playlista
      </button>
    </div>
  </div>
  <div class="col">
    <div [ngSwitch]="mode">
      <app-content-card
        title="Playlista"
        content="Wybierz Playlistę"
        *ngSwitchDefault
      ></app-content-card>

      <app-playlist-detail
        (editplaylist)="edit($event)"
        [playlist]="selected"
        *ngSwitchCase="'selected'"
      ></app-playlist-detail>

      <app-playlist-form
        [playlist]="selected"
        *ngSwitchCase="'edit'"
      ></app-playlist-form>
    </div>
  </div>
</div>
