<div class="container">
  <div class="row mt-1">
    <div class="col">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Utworów</th>
            <th>Ulubiona</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{ playlist.name }}</td>
            <td>23</td>
            <td>
              <input
                type="checkbox"
                [checked]="playlist.favourite"
                (change)="playlist.favourite = $event.target.checked"
              />
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Angular Greatest Hits</td>
            <td>2</td>
            <td>false</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Playlista</h4>
          <p class="card-text">Opis playlisty</p>
        </div>

        <div class="card-block">
          <div class="form-group">
            <label>Nazwa:</label>
            <input
              type="text"
              [value]="playlist.name"
              (keyup)="playlist.name = $event.target.value"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label>Tracks:</label>
            <input
              type="text"
              [value]="playlist.tracks + ' utworów'"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label>Kolor:</label>
            <input
              type="color"
              [value]="playlist.color"
              (change)="playlist.color = $event.target.value"
            />
          </div>
          <div class="form-group">
            <label>
              <input
                type="checkbox"
                [checked]="playlist.favourite"
                (change)="playlist.favourite = $event.target.checked"
              />
              Ulubiona</label
            >
          </div>

          <div class="form-group">
            <button class="btn btn-success" (click)="save($event)">
              Zapisz
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
